<md-toolbar color="primary">
    <span (click)="sidenav.emit()" style="margin-left: 10px" >
      <i class="fa fa-bars fa-lg pointer" aria-hidden="true"></i>
    </span>
    <span class="example-spacer"></span>
    <!-- <form [formGroup]="mySearch" class="example-form" #f="formGroup">
      <md-form-field [floatPlaceholder]="'never'" class="example-full-width">
        <input  mdInput placeholder="Search" name="search" formControlName="search">
      </md-form-field>
    </form> -->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search" formControlName="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form> 
    <span class="example-spacer"></span>
    <span class="pointer" *ngIf="userService.authUser == null" (click)="userService.loginWithFacebook()" style="margin-right: 20px;">login</span>
    <a *ngIf="userService.authUser != null" mdTooltip="profile"  [routerLink]="['/user',userService.authUser.authUserId,'profile']" class="pointer">
      <img src="{{userService.authUser.authUserPicture}}" class="img-profile" alt="Cinque Terre" width="40" height="40"> 
    </a>
    <span>
      <i class="fa fa-ellipsis-v fa-lg pointer" style="margin-right: 10px" aria-hidden="true"></i>
    </span>
</md-toolbar>
<!-- <div class="wrapper">
  <nav>
    <ul>
      <li class="flexed">
        <a (click)="sidenav.emit()"><i class="fa fa-bars fa-2x pointer" aria-hidden="true"></i></a>
      </li>
    </ul>
    <ul>
      <li class="flexed" style="margin-right: 10px;padding-top: 17px">
        <a *ngIf="userService.authUser == null" (click)="userService.loginWithFacebook()">login</a>
      </li>
      <li class="flexed" style="margin-right: 10px;padding-top: 17px">
        <a *ngIf="userService.authUser != null" [routerLink]="['/user',userService.authUser.authUserId,'profile']">{{userService.authUser.authUserName}}</a>
      </li>
      <li class="flexed">
        <a>
          <img src="{{userService.authUser.authUserPicture}}" class="img-profile" alt="Cinque Terre" width="50" height="50"> 
        </a>
      </li>
    </ul>
  </nav>
</div> -->