/*nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  display: flex;
}
li.flexed{
  text-align: center;
  list-style-type: none;
  display: block;
  cursor: pointer
}
a{
  text-decoration: none;
}
.wrapper{
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 5px #888888;
  margin: -80px auto;
  padding: 10px 20px 0px;
  z-index: 2000
}*/
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.pointer{
  cursor: pointer
}

.img-profile{
	border-radius: 20px;
  margin-right: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

/* When the input is not focused */
md-input-container label {
  color: white;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: white;
}